article h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  color: red;
}

h2::before {
  color: black;
  content: 'moin ';
  background-color: burlywood;
}

body {
  background-color: aqua;
}
